<%- include("partials/header") %>
    <div class="container-fluid border">
        <div class="row">
            <div class="col">Welcome to our Project</div>
            <div class="col">Which is under maintenance</div>
            <div class="col">Thank you for your patience</div>
            <div class="col">But please feel free to test our NavBar</div>
         </div>
        </div>
 <%- include("partials/footer") %>